
body {
    background-color: #e9d9d9;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 400px;
    background-color: #444463;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #b745bf;
}

#chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #cf68cf;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #d0d0d8;
}

.bot-text span, .user-text span {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.bot-text span {
    background-color: #d164d7;
    color: white;
}

.user-text span {
    background-color: #3e3e5e;
    color: #fff;
    align-self: flex-end;
    float: right;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9090b1;
    color: white;
}

button {
    width: 20%;
    background-color: #c045c0;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
